app-sidebar {
    background-color: #212529 !important;
    min-height: calc(100vh - 56px);
}

app-sidebar .nav-item:last-child {
    margin-bottom: 1rem;
}

app-sidebar .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 90px;
}

app-sidebar .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
}

/* app-sidebar .nav-item .dropdown-menu {
    position: absolute !important;
    -webkit-transform: none !important;
    transform: none !important;
    left: calc(90px + 0.5rem) !important;
    margin: 0;
}

app-sidebar .nav-item .dropdown-menu.dropup {
    bottom: 0;
    top: auto !important;
}

app-sidebar .nav-item.dropdown .dropdown-toggle::after {
    display: none;
}

app-sidebar .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

app-sidebar .nav-item .nav-link:active, app-sidebar .nav-item .nav-link:focus, app-sidebar .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
}

app-sidebar.toggled {
    width: 0 !important;
    overflow: hidden;
} */

@media (min-width: 768px) {
    app-sidebar {
        /* width: 225px !important; */
    }
    app-sidebar .nav-item .nav-link {
        display: block;
        width: 100%;
        text-align: left;
        padding: 1rem;
        width: 225px;
    }
    app-sidebar .nav-item .nav-link span {
        font-size: 1rem;
        display: inline;
    }
    app-sidebar .nav-item .dropdown-menu {
        position: static !important;
        margin: 0 1rem;
        top: 0;
    }
    app-sidebar .nav-item.dropdown .dropdown-toggle::after {
        display: block;
    }
    app-sidebar.toggled {
        overflow: visible;
        width: 90px !important;
    }
    app-sidebar.toggled .nav-item:last-child {
        margin-bottom: 1rem;
    }
    app-sidebar.toggled .nav-item .nav-link {
        text-align: center;
        padding: 0.75rem 1rem;
        width: 90px;
    }
    app-sidebar.toggled .nav-item .nav-link span {
        font-size: 0.65rem;
        display: block;
    }
    app-sidebar.toggled .nav-item .dropdown-menu {
        position: absolute !important;
        -webkit-transform: none !important;
        transform: none !important;
        left: calc(90px + 0.5rem) !important;
        margin: 0;
    }
    app-sidebar.toggled .nav-item .dropdown-menu.dropup {
        bottom: 0;
        top: auto !important;
    }
    app-sidebar.toggled .nav-item.dropdown .dropdown-toggle::after {
        display: none;
    }
}
