  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Update a User</div>
    <div class="card-body">
      <!-- [(ng model)]-->
      <form [formGroup]="updateForm">
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-label-group">
                <input formControlName="firstName" type="text" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus" #firstName>
                <label for="firstName">First name</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-label-group">
                <input formControlName="lastName" type="text" id="lastName" class="form-control" placeholder="Last name" required="required" #lastName>
                <label for="lastName">Last name</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" #email>
            <label for="inputEmail">Email address</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-label-group">
                <input formControlName="role" type="text" id="role" class="form-control" placeholder="Role" required="required" #role>
                <label for="firstName">Role</label>
              </div>
            </div>
          </div>
        </div>
        <button class="btn" routerLink="/users/list">Back</button>
        <button class="btn btn-primary" type="submit" (click)="updateUser(firstName.value, lastName.value, email.value, role.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary" >Save</button>
      </form>
    </div>
  </div>
