<div class="card mb-3">

<div class="card-header">
  <i class="fas fa-table"></i>
  Deliveries</div>
<div class="card-body">
  <button routerLink="/delivers/create" class="btn btn-primary">Add Delivery</button>
    <ng-container >
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th colspan="6">Delivery</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="2">Diner</td>
              <td rowspan="2" colspan="3">Comedor</td>
              <td>Date Sent</td>
              <td colspan="2">dd/MM/yyy</td>
            </tr>
            <tr>
              <td>Date Received</td>
              <td colspan="2">dd/MM/yyy</td>
            </tr>
            <tr>
              <td>Status</td>
              <td colspan="2">Estado</td>
              <td>Truck ID</td>
              <td colspan="2">123456789</td>
            </tr>
            <tr>
              <td colspan="6">Order Sent</td>
            </tr>
            <tr>
              <td colspan="6"></td>
            </tr>
            <tr>
              <td colspan="6">Order Received</td>
            </tr>
            <tr>
              <td colspan="6"></td>
            </tr>
            <tr>
              <td colspan="6"></td>
            </tr>
            <tr>
              <td colspan="6">Observations</td>
            </tr>
            <tr>
              <td colspan="6">Bla bla bla bla</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
