
<div class="card card-register mx-auto mt-5">
  <div class="card-header">Add a Product</div>
  <div class="card-body">
    <form [formGroup]="createForm">
      <div class="form-group">
        <div class="form-label-group">
          <input formControlName="name" type="text" id="name" class="form-control" placeholder="Name" required="required" #name>
          <label for="name">Name</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-label-group">
            <table class="table" id="unitTable" width="100%" cellspacing="0">
              <thead> 
                <tr>
                  <th *ngFor="let u of units">{{u._name}} </th>
                </tr> 
              </thead>
              <tbody>
                <tr >
                  <td *ngFor="let u of units">
                    <input class="form-check-input" type="checkbox" name="unit" id="unit" value="{{u._id}}" #unit>    
                  </td>
                </tr>  
              </tbody>
            </table>
          <!--<select formControlName="unit" id="unit" class="form-control" required="required"  #unit>
            <option *ngFor="let u of units" value="{{u._name}}" >
              {{u._name}}
            </option>
          </select>-->
        </div>
      </div>
      <div class="form-group">
        <div class="form-label-group">
          <!--<label for="category">Category</label>-->
          <select formControlName="category" id="category" class="form-control" required="required" #category>
            <option *ngFor="let c of categories">
              {{c._name}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="form-label-group">
          <input formControlName="description" type="text" id="description" class="form-control" placeholder="Description" required="required" #description>
          <label for="description">Description</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-label-group">
          <input formControlName="price" type="number" id="price" class="form-control" placeholder="Price" required="required" #price>
          <label for="price">Price</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-label-group">
          <!--<label for="category">Category</label>-->
          <table class="table" id="unitTable" width="100%" cellspacing="0">
            <thead> 
              <tr>
                <th *ngFor="let p of providers">{{p._name}} </th>
              </tr> 
            </thead>
            <tbody>
              <tr >
                <td *ngFor="let p of providers">
                  <input class="form-check-input" type="checkbox" name="provider" id="provider" value="{{p._id}}" #provider>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <button class="btn" routerLink="/products/list">Back</button>
      <button class="btn btn-primary " type="submit" (click)="addProduct(name.value, category.value, description.value, price.value )" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary" >Save</button>
    </form>
  </div>

</div>
