
<div class="card card-register mx-auto mt-5">
  <div class="card-header">Add a Requisitions</div>
  <div class="card-body">
    <form [formGroup]="createForm">
      <div class="form-group">
        <!--
        <div class="form-label-group">
          <label for="diner">Diner</label>
            <select formControlName="diner" class="form-control col-md-6" id="diner" required="required" #diner>
              <option *ngFor="let d of dinners" value="{{d._name}}" >
                {{d._name}}
              </option>
            </select>
        </div>
        <span>{{Date.now()}}</span>
        -->
        <div class="" matAutocompleteOrigin #origin="matAutocompleteOrigin">
          <label for="diner">Diner</label>
          <input
            class="form-control col-md-12"
            matInput
            id="diner"
            [formControl]="dinerControl"
            [matAutocomplete]="auto"
            required
            #diner
          >
        </div>

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredDinerOptions | async" [value]="option._name">{{option._name}}</mat-option>
        </mat-autocomplete>

        <!-- example form angular docs
        <div class="custom-wrapper-example" matAutocompleteOrigin #origin="matAutocompleteOrigin">
          <input
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
          >
        </div>

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option._name">{{option._name}}</mat-option>
        </mat-autocomplete>
        -->
      </div>

      <div *ngFor="let c of productsByCat; let j = index">
        <h4>{{c.category}}</h4>

      <!-- forma de los productos -->
        <form #formRef="ngForm">
        <div *ngFor="let o of c.orders; let i = index" >
          <div class="form-group">
<!--
            <label >Product</label>
            <select [(ngModel)]="c.orders[i].product" name="name{{i}}" #v class="form-control col-md-6" #name="ngModel" required >
              <ng-container *ngFor="let p of products">
                <option *ngIf="p._category == c.category"  value="{{p._name}}" >
                  {{p._name}}
                </option>
              </ng-container>
            </select>
-->

            <div class="" matAutocompleteOrigin #origin="matAutocompleteOrigin">
              <label for="product">Product</label>
              <input
                [(ngModel)]="c.orders[i].product"
                class="form-control col-md-12"
                matInput
                id="product"
                [formControl]="productControl"
                [matAutocomplete]="auto2"
                required
                #product
              >
            </div>

            <mat-autocomplete #auto2="matAutocomplete">
              <ng-container *ngFor="let u of filteredProductOptions | async">
                <mat-option *ngIf="u._category == c.category" [value]="u._name">{{u._name}}</mat-option>
              </ng-container>
            </mat-autocomplete>


            <!-- -->
            <!--
            <label >Units</label>
            <select [(ngModel)]="c.orders[i].unit" name="name{{i}}" class="form-control col-md-6" #name="ngModel" required >
              <option *ngFor="let u of unities" value="{{u._name}}" >
                {{u._name}}
              </option>
            </select>
            -->
            <div class="" matAutocompleteOrigin #origin="matAutocompleteOrigin">
              <label for="unities">Units</label>
              <input
                [(ngModel)]="c.orders[i].unit"
                class="form-control col-md-12"
                matInput
                id="unities"
                [formControl]="unitsControl"
                [matAutocomplete]="auto"
                required
                #unities
              >
            </div>

            <mat-autocomplete #auto="matAutocomplete">

                <mat-option *ngFor="let option of filteredUnitOptions | async" [value]="option._name">{{option._name}}</mat-option>

            </mat-autocomplete>



            <label >Quantity</label>
            <input type="number" [(ngModel)]="c.orders[i].quantity" name="name{{i}}" class="form-control col-md-12" #name="ngModel" required />
            <!--
                        <label >Provider</label>
                        <div class="form-group">
                          <div class="form-label-group">

                                            <select [(ngModel)]="c.orders[i].provider" name="name{{i}}" class="form-control col-md-6" #name="ngModel" required #provider>
                                              <option *ngFor="let p of providers" value="{{p._name}}" >
                                                {{p._name}}
                                              </option>
                                            </select>
                                          </div>
                                        </div>
                                        -->
            <div class="" matAutocompleteOrigin #origin="matAutocompleteOrigin">
              <label for="provider">Provider</label>
              <input
                [(ngModel)]="c.orders[i].provider"
                class="form-control col-md-12"
                matInput
                id="provider"
                [formControl]="providerControl"
                [matAutocomplete]="auto3"
                required
                #provider
              >
            </div>

            <mat-autocomplete #auto3="matAutocomplete">

              <mat-option *ngFor="let option of filteredProviderOptions | async" [value]="option._name">{{option._name}}</mat-option>

            </mat-autocomplete>
          </div>
          <br />
        </div>
        <button class="btn btn-primary " [disabled]="!formRef.form.valid" (click)="add(j)">Add Item</button>
      </form>
        {{orders | json}}
        <br />
      </div>
      <button class="btn" routerLink="/requisitions/list">Back</button>
      <button class="btn btn-primary " type="submit" (click)="addRequisition(diner.value )" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary" >Save</button>
    </form>
  </div>
</div>

