

<div class="card card-register mx-auto mt-5">
  <div class="card-header">Add a Unit</div>
  <div class="card-body">
    <form [formGroup]="createForm">
      <div class="form-group">
          <div class="form-row">
            <div class="form-label-group">
              <input formControlName="name" type="text" id="name" class="form-control" placeholder="name" required="required" autofocus="autofocus" #name>
              <label for="name">Unit Name</label>
            </div>
          </div>
          <button class="btn" routerLink="/units/list">Back</button>
          <button class="btn btn-primary " type="submit" (click)="addUnit(name.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary" >Save</button>

      </div>
    </form>
  </div>
</div>
