<div class="card card-register mx-auto mt-5">
      <div class="card-header">Register a Dinner</div>
      <div class="card-body">
        <form [formGroup]="createForm">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input formControlName="name" type="text" id="name" class="form-control" placeholder="Name" required="required" autofocus="autofocus" #name>
                  <label for="name">Name</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input formControlName="user" type="text" id="user" class="form-control" placeholder="User" required="required" #user>
                  <label for="user">User</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input formControlName="description" type="email" id="description" class="form-control" placeholder="Description" required="required" #description>
              <label for="description">Description</label>
            </div>
          </div>
          <button class="btn" routerLink="/dinners/list">Back</button>
          <button class="btn btn-primary " type="submit" (click)="addDinner(name.value, user.value, description.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary" >Save</button>
        </form>
      </div>
    </div>
