<div class="card mb-3">

  <div class="card-header">
    <i class="fas fa-table"></i>
    Requisitions</div>


  <div class="card-body">
    <button routerLink="/requisitions/create" class="btn btn-primary">Add Requisition</button>

    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>Diner</th>
          <th>Order</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let u of requisitions">
          <td>
            {{u._diner}}
          </td>
          <td>
            <ul *ngFor="let w of u._orders">
              {{w.product}}
            </ul>
          </td>
          <td>
            {{u._status}}
          </td>
          <td>
            <button routerLink="/requisitions/edit/{{u._id}}" class="btn btn-warning">
              <i class="fas fa-edit"></i>
            </button>

            <button (click)="dropRequisition(u._id)" class="btn btn-danger">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
