

<div class="card card-register mx-auto mt-5">
  <div class="card-header">Edit a Product</div>
  <div class="card-body">
    <form [formGroup]="updateForm">
      <div class="form-group">
        <div class="form-label-group">
          <input formControlName="name" type="text" id="name" class="form-control" placeholder="Name" required="required" #name>
          <label for="name">Name</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-label-group">
          <input formControlName="unities" type="text" id="unities" class="form-control" placeholder="unities" required="required" #unities>
          <label for="unities">Unities</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-label-group">
          <!--<label for="category">Category</label>-->
          <select formControlName="category" id="category" class="form-control" required="required"  #category>
            <option *ngFor="let c of categories" value="{{c._name}}" >
              {{c._name}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="form-label-group">
          <input formControlName="description" type="text" id="description" class="form-control" placeholder="Description" required="required" #description>
          <label for="description">Description</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-label-group">
          <input formControlName="price" type="number" id="price" class="form-control" placeholder="Price" required="required" #price>
          <label for="price">Price</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-label-group">
          <!--<label for="category">Category</label>-->
          <select formControlName="provider" id="provider" class="form-control" required="required"  #provider>
            <option *ngFor="let p of providers" value="{{p._name}}" >
              {{p._name}}
            </option>
          </select>
        </div>
      </div>

      <button class="btn" routerLink="/products/list">Back</button>
      <button class="btn btn-primary " type="submit" (click)="updateProduct(name.value, unities.value, category.value, description.value, price.value, provider.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary" >Save</button>
    </form>
  </div>

</div>

