<!--
<table class="table unit-list" >
  <thead>
  <tr >
    <th><span>Usuario</span></th>
    <th><span>Fecha de registro</span></th>
    <th class="text-center"><span>Rol</span></th>
    <th><span>Correo electrónico</span></th>
    <th>Opciones</th>
  </tr >
  </thead>
  <tbody>
  <tr *ngFor="let u of units">
    <td>
      <img src="https://bootdey.com/img/Content/unit_1.jpg" alt="">
      <a href="#" class="unit-link">{{u._firstName}} {{u._lastName}}</a>
      <span class="unit-subhead">{{u._email}}</span>
    </td>
    <td>{{u._emai}}</td>
    <td class="text-center">
      <span class="badge badge-primary">{{u._email}}</span>
    </td>
    <td>
      <a href="#">{{u._email}}</a>
    </td>

  </tr>

  </tbody>
</table>
-->

<div class="card mb-3">

  <div class="card-header">
    <i class="fas fa-table"></i>
    Unit</div>


  <div class="card-body">
    <button routerLink="/units/create" class="btn btn-primary">Add Unit</button>

    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Name</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let u of units">
            <td>
              {{u._name}}
            </td>
            <td>
              <button routerLink="/units/edit/{{u._name}}" class="btn btn-warning">Edit</button>

              <button (click)="dropUnit(u._name)" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
